[alias]
[branch]
  autosetupmerge = true
  sort = committerdate
[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
  ui = true
  branch = auto
  diff = auto
[commit]
  template = /Users/jasonc/.stCommitMsg
[core]
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = /Users/jasonc/.gitignore
  attributesfile = ~/.gitattributes
  commentchar = $
  hooksPath = ~/.git-templates/hooks

  # Ignore Windows ^M line endings when 'git diff'
  pager = tr -d '\\r' | less -REX
[diff]
	algorithm = histogram
  colorMoved = default
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[include]
  path = ~/.gitconfig.local
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = current
[rebase]
	updateRefs = true
[remote "origin"]
  push = HEAD
[remote]
  pushdefault = origin
[rerere]
	autoUpdate = true
[user]
  name = Chunky
