[branch]
  # autosetupmerge = true
  sort = committerdate
[color]
  branch = auto
  diff = auto
  ui = true
[commit]
  verbose = true
[core]
  attributesfile = ~/.gitattributes
  commentchar = $
  excludesfile = ~/.gitignore
  hooksPath = ~/.git-templates/hooks
  pager = tr -d '\\r' | less -REX
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  all = true
  prune = true
  pruneTags = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f
[include]
  path = ~/.gitconfig.local
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = simple
  followTags = true
[rebase]
	updateRefs = true
[remote "origin"]
  push = HEAD
[remote]
  pushdefault = origin
[rerere]
	# autoUpdate = true
[user]
	name = Jason CheongKeeYou
[maintenance]
	repo = /Users/jasonc/src/packmanager
